
.princi{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  border-radius: 10px;
}
.cuadrito{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 10px;
}
.conteBoto{
  margin: 10px;
}
.red{
  background-color: rgba(172, 14, 14, 0.719);
}
.blue{
  background-color: cadetblue;
}
.pink{
  background-color: palevioletred;
}
.purple{
  background-color: mediumpurple;
}
.balnco{
  background-color: rgb(255, 255, 255);
}



