.princi{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cuadrito{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 8px;
}



